.first-article {
    display: flex;
    flex-direction: row;
}

.first-article .first-article-first-game {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 530px;
}

.first-article .first-article-second-game {
    width: 530px;
}

.first-article .first-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
}

.first-article .first-description {
    font-size: 0.9em;
}

.title-article {
    font-size: 1em;
    font-weight: bold;
    
    margin-bottom: 20px;
}

.first-article-thumb {
    width: 530px;
    height: 350px;
}